<%= form_for @client do |f| %>
<!--<p class = "title">Join Zeetimes now!!</p>-->
<%= render 'shared/error_messages' %>
<table align = "center" class="tablepnl" cellpadding="0" cellspacing="0" width="560px">
	<tr>
		<td colspan="2" style="margin:0;padding:0;">
			<div class="box-container bg-gray">
				<div class="boxgloss"></div>
			    <div class="boxcontents brd-gray"><%= label_tag 'createAccountHeader', 'Create an Account'%></div>
			    <div class="clear"></div>
			</div>    
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>	
	<tr>
		<td colspan="2">
			<table border="0" width="550px" align="center">		
				<tr class = "field">		
					<td>
						<%= f.text_field :login_name, :placeholder => "Preferred login name", :class => "textstyle" %>
					</td>
					<td>
						<%= f.text_field :company_name, :placeholder => "Company", :class => "textstyle" %>
					</td>
				</tr>
				<tr class = "field">		
					<td>
						<%= f.password_field :password, :placeholder => "Password", :class => "textstyle" %>
					</td>
					<td>
						<%= f.password_field :password_confirmation, :placeholder => "Confirm password", :class => "textstyle" %>
					</td>
				</tr>
				<tr class = "field">		
					<td>
						<%= f.text_field :first_name, :placeholder => "First Name", :class => "textstyle" %>
					</td>
					<td>
						<%= f.text_field :last_name, :placeholder => "Last Name", :class => "textstyle" %>
					</td>
				</tr>				
				<tr class = "field">		
					<td>
						<%= f.text_field :contact_email, :placeholder => "Email", :class => "textstyle" %>
					</td>
					<td>
						<%= f.text_field :contact_phone, :placeholder => "Phone", :class => "textstyle" %>
					</td>
				</tr>				
				<tr class = "field">		
					<td>
						<%= f.text_field :company_website, :placeholder => "Website", :class => "textstyle" %>
					</td>
					<td>
						<%= f.text_field :contact_fax, :placeholder => "Fax", :class => "textstyle" %>
					</td>
				</tr>
				<tr class = "field">		
					<td>
						<%= f.text_field :company_address1, :placeholder => "Street Address 1", :class => "textstyle" %>
					</td>
					<td>
						<%= f.text_field :company_address2, :placeholder => "Street Address 2", :class => "textstyle" %>
					</td>
				</tr>				
				<tr class = "field">		
					<td>
						<%= f.text_field :company_city, :placeholder => "City", :class => "textstyle" %>
					</td>
					<td>
						<%= f.text_field :company_state, :placeholder => "State", :class => "textstyle" %>
					</td>
				</tr>				
				<tr class = "field">		
					<td>
						<%= f.text_field :company_pincode, :placeholder => "Pincode", :class => "textstyle" %>
					</td>
					<td>
						<%= f.select :company_country, ['--Select Country--','United States Of America','India'] %>
					</td>
				</tr>						
			</table>
		</td>		
	</tr>	
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr class="pnlfooter" >
		<td width="460px">
			<%= f.submit "Sign Up", :class => "submitbtn round"%>
		</td>
		<td width="90px">
			<%= link_to "Cancel", root_path, :class => "signup_button round" %>
		</td>		
	</tr>	
</table>
<% end %>

