<%= form_for @category do |f| %>
<%= hidden_field_tag "selectedcategory", "1" %>
<table align = "center" class="tablepnl" style="width:550px;">
	<tr>
		<td style="margin:0;padding:0;" colspan="2">
			<div class="box-container bg-gray">
				<div class="boxgloss"></div>
			    <div class="boxcontents brd-gray"><%= label_tag 'productsHeader', 'Products & Services'%></div>
			    <div class="clear"></div>
			</div>    
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>	
	<tr>
		<td colspan="2">
			<table border="0" align="center" width="530px">
				<tr class = "field">		
					<td>
						<%= label_tag "Category" %>
					</td>
					<td>
						<%= label_tag "Product" %>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>													
				<tr class = "field">		
					<td>
						<div class="sc_menu_wrapper" id="category_container">
						  <div class="sc_menu" id="category_menu">
						  	<table>						  		
						  		<% @categorylist = Category.all
						  			@categorylist.each do |category| %>
							  		<tr>
							  			<td>
							  				<span class='gray-circle' id='gc<%= category.category_name.gsub(/ /,'') %>'></span><%= link_to category.category_name, "#", :id => 'lnk'+category.category_name.gsub(/ /,''), :value => category.id %>							  			
							  			</td>
							  		</tr>
						  		<% end %>	  				    
						    </table>
						  </div>
						</div>
					</td>					
					<td>						
						<div class="sc_menu_wrapper" id="product_container">
							<div class="sc_menu" id="product_menu">							
									<%= label_tag "Select a category..." %>						  							  										
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style = "vertical-align: top; padding-left: 8px;" colspan = "2">
						<table border="0" width="100%" >
							<tr>
								<td width="25%">
									<div id = "newcategory">
										<div class = "category">
											<table border="0" width="100%" >
												<tr>		
													<td>	
														<%= f.text_field :category_name, :placeholder => "New Category", :class => "textstylesmall" %>
													</td>										
												</tr>
											</table>
										</div>
									</div>
								</td>
								<td style = "vertical-align: top;"  width="25%">
									<div id = "newproducts">										
										<%= render :partial => 'product', :collection => @category.products %>
									</div>
								</td>
								<td width="50%">
									<%= f.submit "add", :class => "submitbtnsmall round" %>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<!--<tr>
					<td style = "vertical-align: top; padding-left: 11px;">
						<%= link_to_function "New Category", "jQuery('#newcategory').append('#{escape_javascript render(:partial => 'category',:object => @category)}')" %>
					</td>
					<td style = "vertical-align: top; padding-left: 11px;">
						<%= link_to_function "New Product", "jQuery('#newproducts').append('#{escape_javascript render(:partial => 'product',:object => Product.new)}')" %>
					</td>
				</tr>-->				
			</table>			
		</td>		
	</tr>	
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr class="pnlfooter">
		<td width="440px">
			<%= f.submit "Next", :id => "categorynext", :disabled => true, :class => "submitbtn round"%>
		</td>
		<td width="90px;">
			<%= link_to "Cancel", root_path, :class => "signup_button round" %>
		</td>		
	</tr>	
</table>
<% end %> 